@import '../../variables.module';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: $back-color;
}
.app {
    max-width: 800px;
    min-width: 340px;
    min-height: 1350px;
    margin: 0 auto;
    padding: 50px 30px;
    
    &__main {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        column-gap: 20px;
    }
}

@media (max-width: 600px) {
    .app {
        &__main{
            grid-template-columns:  1fr;
            grid-template-rows:  1fr;
        }
    }
    
}