@import '../../variables.module';

.app {
    max-width: 800px;
    min-width: 340px;
    min-height: 1350px;
    margin: 0 auto;
    padding: 50px 30px;
    
    &__main {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        column-gap: 20px;
    }
}


@media (max-width: 600px) {
    .app {
        &__main{
            grid-template-columns:  1fr;
            grid-template-rows:  1fr;
        }
    }
    
}