@import '../../variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.sidebar{
    margin-left: 103px;
    border-radius: 5px;
    background-color: white;
    width: 232px;
    height: 280px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 12spx;
    letter-spacing: 0.5px;
    color: $titles;
    box-shadow: 0 3px 15px -5px #a0b0b9;

    &__item-label {
        font-weight: 400;
    }

    &__legend {
        margin: 20px 20px 10px 20px;
        font-size: 13px;
        letter-spacing: 0;
    }

    &__item {
        padding: 10px 20px;
    }

    &__item:hover {
        background-color: $checkboxHover;
    }

    &__item-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0
    }
    &__item-checkbox+&__item-label {
        display: inline-flex;
    align-items: center;
    user-select: none;
    }

    &__item-checkbox+&__item-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $chekbox;
    border-radius: 0.25em;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    }

    &__item-checkbox:checked+&__item-label::before {
        border-color: $blue;
    background-color: white;
    background-image: url("checked.svg");
    }

}


