@import '../../variables.module';

.sidebar{
    border-radius: 5px;
    background-color: white;
    max-width: 232px;
    width: 100%;
    height: 266px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    color: $titles;
    box-shadow: 0 3px 15px -5px $shadow;

    &__item-label {
        font-weight: 400;
    }

    &__legend {
        margin: 20px 20px 10px 20px;
        font-size: 13px;
        letter-spacing: 0;
    }

    &__item {
        padding: 10px 20px;
        cursor: pointer;
    }

    &__item:hover {
        background-color: $checkboxHover;
    }

    &__item-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0
    }
    &__item-checkbox+&__item-label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    &__item-checkbox+&__item-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1.5px solid $chekbox;
    border-radius: 0.25em;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    }

    &__item-checkbox:checked+&__item-label::before {
        border-color: $blue;
    background-color: white;
    background-image: url("checked.svg");
    }

}

@media (max-width: 600px) {
  
    .sidebar{
        max-width: 502px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: auto;
        padding-bottom: 10px;

        &__item {
            padding: 5px 20px;
        }
        &__legend {
            grid-column: 1 / 3;
        }
    }

}
